<h1>Do you know your ABCs..... in order?</h1>
<h2 id="winning-message"></h2>

<div id="abc-game">
  <div class="row">
    <div class="box col-md-1" onclick="">A</div>
    <div class="box col-md-1" onclick="">B</div>
    <div class="box col-md-1" onclick="">C</div>
    <div class="box col-md-1" onclick="">D</div>
    <div class="box col-md-1" onclick="">E</div>
    <div class="box col-md-1" onclick="">F</div>
    <div class="box col-md-1" onclick="">G</div>
  </div>
  <div class="row">
    <div class="box col-md-1" onclick="">H</div>
    <div class="box col-md-1" onclick="">I</div>
    <div class="box col-md-1" onclick="">J</div>
    <div class="box col-md-1" onclick="">K</div>
    <div class="box col-md-1" onclick="">L</div>
    <div class="box col-md-1" onclick="">M</div>
    <div class="box col-md-1" onclick="">N</div>
  </div>
  <div class="row">
    <div class="box col-md-1" onclick="">O</div>
    <div class="box col-md-1" onclick="">P</div>
    <div class="box col-md-1" onclick="">Q</div>
    <div class="box col-md-1" onclick="">R</div>
    <div class="box col-md-1" onclick="">S</div>
    <div class="box col-md-1" onclick="">T</div>
    <div class="box col-md-1" onclick="">U</div>
  </div>
  <div class="row">
    <div class="box col-md-1" onclick="">V</div>
    <div class="box col-md-1" onclick="">W</div>
    <div class="box col-md-1" onclick="">X</div>
    <div class="box col-md-1" onclick="">Y</div>
    <div class="box col-md-1" onclick="">Z</div>
  </div>
  
</div>