<h1>Do you know your ABCs..... in order?</h1>
<h2 id="winning-message"></h2>

<div id="abc-game">
  <div class="row">
    <div class="box col-md-1" onclick="clickLetter(this)">A</div>
    <div class="box col-md-1" onclick="clickLetter(this)">B</div>
    <div class="box col-md-1" onclick="clickLetter(this)">C</div>
    <div class="box col-md-1" onclick="clickLetter(this)">D</div>
    <div class="box col-md-1" onclick="clickLetter(this)">E</div>
    <div class="box col-md-1" onclick="clickLetter(this)">F</div>
    <div class="box col-md-1" onclick="clickLetter(this)">G</div>
  </div>
  <div class="row">
    <div class="box col-md-1" onclick="clickLetter(this)">H</div>
    <div class="box col-md-1" onclick="clickLetter(this)">I</div>
    <div class="box col-md-1" onclick="clickLetter(this)">J</div>
    <div class="box col-md-1" onclick="clickLetter(this)">K</div>
    <div class="box col-md-1" onclick="clickLetter(this)">L</div>
    <div class="box col-md-1" onclick="clickLetter(this)">M</div>
    <div class="box col-md-1" onclick="clickLetter(this)">N</div>
  </div>
  <div class="row">
    <div class="box col-md-1" onclick="clickLetter(this)">O</div>
    <div class="box col-md-1" onclick="clickLetter(this)">P</div>
    <div class="box col-md-1" onclick="clickLetter(this)">Q</div>
    <div class="box col-md-1" onclick="clickLetter(this)">R</div>
    <div class="box col-md-1" onclick="clickLetter(this)">S</div>
    <div class="box col-md-1" onclick="clickLetter(this)">T</div>
    <div class="box col-md-1" onclick="clickLetter(this)">U</div>
  </div>
  <div class="row">
    <div class="box col-md-1" onclick="clickLetter(this)">V</div>
    <div class="box col-md-1" onclick="clickLetter(this)">W</div>
    <div class="box col-md-1" onclick="clickLetter(this)">X</div>
    <div class="box col-md-1" onclick="clickLetter(this)">Y</div>
    <div class="box col-md-1" onclick="clickLetter(this)">Z</div>
  </div>
  
</div>