<h1>Welcome to click5. The rest is up to you!</h1>
<div ng-app="app">
	<div ng-controller="pagesCtrl">
  {{ 1 + 1 }}
<div id="box-game">
  <div class="row">
<div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="recordClick(this)"> </div>
	</div>
</div>