<h1>Hey! Hit all 3 boxes for a secret message!</h1>


<div id="box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="fill(1)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="fill(2)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="fill(3)"> </div>
  </div>
  
</div>