<h1>Guess A Box</h1>
<h2 id="winning-message"></h2>

<div id="box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="guessBox(1)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="guessBox(2)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="guessBox(3)"> </div>
  </div>
  
</div>
