<h1>Guess the right box!</h1>
<h2 id="winning-message"></h2>

<div id="box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="guessBox(0)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="guessBox(1)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="guessBox(2)"> </div>
    <div class="col-md-1"> </div>
  </div>
</div>

<!-- <div id="box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="guessBox(0, this)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="guessBox(1, this)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="guessBox(2, this)"> </div>
    <div class="col-md-1"> </div>
  </div>
</div> -->