<h1>Guess the right box!</h1>

<div id="box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div id="0" class="block col-md-3 "> </div>
    <div class="col-md-1"> </div>
    <div id="1" class="block col-md-3"> </div>
    <div class="col-md-1"> </div>
    <div id="2" class="block col-md-3"> </div>
    <div class="col-md-1"> </div>
  </div>
</div>