<h1>Welcome to JavaScript!</h1>

<div class="puzzle" id="puzzle-0">
  <div class="row">
    <div class="col-md-1"> </div>
    <div id="1" class="block col-md-3 "> </div>
    <div class="col-md-1"> </div>
    <div id="2" class="block col-md-3"> </div>
    <div class="col-md-1"> </div>
    <div id="3" class="block col-md-3"> </div>
    <div class="col-md-1"> </div>
  </div>
</div>

