<h1>An Unusual Maze</h1>
<h2 id="winning-message"></h2>

<div id="maze-game">
  <div class="row">
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
  </div>
  <div class="row">
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
  </div>
  <div class="row">
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
  </div>
  <div class="row">
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(this)"> </div>
  </div>
  
</div>