<h1>An Unusual Maze</h1>
<h2 id="winning-message"></h2>

<div id="maze-game">
  <div class="row">
    <div class="box col-md-1" onmouseover="moveToSegment(0, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(1, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(2, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(3, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(4, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(5, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(6, this)"> </div>
  </div>
  <div class="row">
    <div class="box col-md-1" onmouseover="moveToSegment(7, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(8, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(9, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(10, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(11, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(12, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(13, this)"> </div>
  </div>
  <div class="row">
    <div class="box col-md-1" onmouseover="moveToSegment(14, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(15, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(16, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(17, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(18, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(19, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(20, this)"> </div>
  </div>
  <div class="row">
    <div class="box col-md-1" onmouseover="moveToSegment(21, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(22, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(23, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(24, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(25, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(26, this)"> </div>
    <div class="box col-md-1" onmouseover="moveToSegment(27, this)"> </div>
  </div>
  
</div>