<h1>Memory Game</h1>
<h2 id="winning-message"></h2>

<div id="matching-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick=""> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick=""> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick=""> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick=""> </div>
    <div class="col-md-1"> </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick=""> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick=""> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick=""> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick=""> </div>
    <div class="col-md-1"> </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick=""> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick=""> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick=""> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick=""> </div>
    <div class="col-md-1"> </div>
  </div>
</div>