<h1>Memory Game</h1>
<h2 id="winning-message"></h2>

<div id="memory-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick="pickTile(0, this)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick="pickTile(1, this)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick="pickTile(2, this)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick="pickTile(3, this)"> </div>
    <div class="col-md-1"> </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick="pickTile(4, this)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick="pickTile(5, this)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick="pickTile(6, this)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick="pickTile(7, this)"> </div>
    <div class="col-md-1"> </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick="pickTile(8, this)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick="pickTile(9, this)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick="pickTile(10, this)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-1" onclick="pickTile(11, this)"> </div>
    <div class="col-md-1"> </div>
  </div>
</div>