<h1>Click The Numbers In Order</h1>

<div id="numbers-game">
  <div class="row">
    <% (1..10).to_a.shuffle.each do |number| %>
      <div class="box col-md-2 "><%= number %></div>
      <div class="col-md-1"> </div>
    <% end %>
  </div>
  
</div>
