<h1>A Crazy Puzzle</h1>

<div id="puzzle">
  <div class="row">
    <div class="block col-md-3"> </div><br>
    <div class="block col-md-3"> </div><br>
    <div class="block col-md-3"> </div>
  </div>
</div>