<h1>A Crazy Puzzle</h1>

<div id="puzzle">
  <div class="row">
    <div class="block col-md-3" onclick="clickedBox(0)"> </div><br>
    <div class="block col-md-3" onclick="clickedBox(1)"> </div><br>
    <div class="block col-md-3" onclick="clickedBox(2)"> </div>
  </div>
</div>