<h1>Click Three Boxes</h1>

<div id="three-box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="fillBox(0)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="fillBox(1)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="fillBox(2)"> </div>
  </div>
  
</div>
