<h1>Tic Tac Toe!</h1>

<div id="tic-tac-toe">
  <div class="row">
    <div class="block col-md-3" onclick="fillSpace(0, this)"> </div>
    <div class="block col-md-3" onclick="fillSpace(1, this)"> </div>
    <div class="block col-md-3" onclick="fillSpace(2, this)"> </div>
  </div>
  <div class="row">
    <div class="block col-md-3" onclick="fillSpace(3, this)"> </div>
    <div class="block col-md-3" onclick="fillSpace(4, this)"> </div>
    <div class="block col-md-3" onclick="fillSpace(5, this)"> </div>
  </div>
  <div class="row">
    <div class="block col-md-3" onclick="fillSpace(6, this)"> </div>
    <div class="block col-md-3" onclick="fillSpace(7, this)"> </div>
    <div class="block col-md-3" onclick="fillSpace(8, this)"> </div>
  </div>
</div>
