<h1>Tic Tac Toe!</h1>

<div id="tic-tac-toe">
  <div class="row">
    <div id="0" class="block col-md-3 "> </div>
    <div id="1" class="block col-md-3"> </div>
    <div id="2" class="block col-md-3"> </div>
  </div>
  <div class="row">
    <div id="3" class="block col-md-3 "> </div>
    <div id="4" class="block col-md-3"> </div>
    <div id="5" class="block col-md-3"> </div>
  </div>
  <div class="row">
    <div id="6" class="block col-md-3 "> </div>
    <div id="7" class="block col-md-3"> </div>
    <div id="8" class="block col-md-3"> </div>
  </div>
</div>
