<h1>Tic Tac Toe!</h1>

<div id="tic-tac-toe">
  <div class="row">
    <div class="block col-md-3" onclick="takeTurn(0, this)"> </div>
    <div class="block col-md-3" onclick="takeTurn(1, this)"> </div>
    <div class="block col-md-3" onclick="takeTurn(2, this)"> </div>
  </div>
  <div class="row">
    <div class="block col-md-3" onclick="takeTurn(3, this)"> </div>
    <div class="block col-md-3" onclick="takeTurn(4, this)"> </div>
    <div class="block col-md-3" onclick="takeTurn(5, this)"> </div>
  </div>
  <div class="row">
    <div class="block col-md-3" onclick="takeTurn(6, this)"> </div>
    <div class="block col-md-3" onclick="takeTurn(7, this)"> </div>
    <div class="block col-md-3" onclick="takeTurn(8, this)"> </div>
  </div>
</div>
