body {

}

#box-game {

  .box {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 0px;
  }

  .box.right {
    background-color: green;
  }

  .box.wrong {
    background-color: red;
  }
}

#tic-tac-toe {

  .block {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    margin: 0px;
  }

  .block.x {
    background-image: image-url("x.png");
  }

  .block.o {
    background-image: image-url("o.png");
  }

}

#puzzle {

  .block {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
  }

  .light {
    background-color: orange;
  }
  
}

#memory-game {

  .box {
    width: 150px;
    height: 150px;
    background-color: blue;
    margin: 0px;
    font-size: 104px;
    color: white;
    text-align: center;
  }

}

#abc-game {

  .box {
    width: 150px;
    height: 150px;
    background-color: orange;
    margin: 0px;
    font-size: 104px;
    color: white;
    text-align: center;
    margin: 5px;
  }

}

#maze-game {

  .box {
    width: 150px;
    height: 150px;
    background-color: blue;
    margin: 0px;
    font-size: 104px;
    color: white;
    text-align: center;
    margin: 5px;
  }

  .box.highlighted {
    background-color: yellow;
  }

}

#interact {

  .block {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    font-size: 30px;
  }

  .light {
    background-color: orange;
  }
  
}